# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:

#### - List popular programming languages for Data Science.
#### - Discuss the essential libraries and frameworks commonly used in Data Science.
#### - Explore data visualization tools and techniques in Data Science.
#### - Explain the importance of version control and collaboration tools in Data Science projects.
#### - Provide resources and recommendations for further learning in Data Science.

### Some of the popular languages that Data Scientists use are:
#### 1.Python
#### 2.R language
#### 3.SQL
#### 4.Scala
#### 5.C++
#### 6.JavaScript
#### 7.Julia

### Some of the commonly used libraries used by Data Scientists include:
#### 1.Numpy
#### 2.Pandas
#### 3.seaborn

| Data Science Tools    |
|-----------------------|
| Jupyter Notebook      |
| RStudio               |
| Apache Zeppelin       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
print("200 minutes into hours",200/60)

200 minutes into hours 3.3333333333333335

## Author
#### sake.chaitanyalakshmi